<!-- MAIN NAVIGATION -->
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" routerLink="/">Home</a>
    <a class="py-2 d-none d-md-inline-block" href="https://github.com/Aleksa1996/ytd">Github</a>
    <a class="py-2 d-none d-md-inline-block" href="https://aleksajovanovic.com">Author</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/contact">Contact</a>
  </div>
</nav>
<!-- MAIN NAVIGATION END -->

<router-outlet></router-outlet>
