<div class="main-banner-container position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="main-banner col-md-6 p-lg-5 mx-auto">
    <h1 class="display-4 font-weight-normal">Convert YouTube videos to mp3</h1>
    <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with
      this example based on Apple’s marketing pages.</p>
    <a class="btn btn-outline-secondary" href="#">
      Convert <fa-icon [icon]="faSyncAlt"></fa-icon>
    </a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<app-recent-converts></app-recent-converts>
