@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

$primary-color:#ff793f;

// #ff793f
html {
  font-family: 'Comfortaa', cursive;

  body {
    font-family: 'Comfortaa', cursive;

    .form-control:focus {
      color: #495057;
      background-color: #fff;
      border-color: #ff9466;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(255, 121, 63, .25);
    }

    button:disabled {
      cursor: not-allowed;
      pointer-events: all !important;
    }

    .required-asterisk:after {
      content: "*";
      color: red;
    }
  }
}




.container {
  max-width: 960px;
}

.bg-primary-c {
  background: $primary-color;
}

.btn.btn-primary-c {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 5%);
    border-color: darken($primary-color, 5%);
    color: #fff;
  }
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #eee;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: $primary-color;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal>* {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}
