<div class="card text-white bg-dark" style="border:none;">
  <img class="card-img-top" style="width:100%;" [src]="youtubeVideo.thumbnail" alt="{{ youtubeVideo.title }}" />
  <div class="card-body">
    <h5 class="card-title">{{ youtubeVideo.title }}</h5>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <small class="text-muted">Requested {{ youtubeVideo.lastRequest }}</small>
    <small class="text-muted">
      <fa-icon class="px-1" [icon]="faSyncAlt"></fa-icon>
      {{ youtubeVideo.requested }}
    </small>
  </div>
</div>
